<div class='container'>
    <div class='row' style="margin:0px auto;">
        <div class='col-xs-12'>
            <h3>Your Recent Activities</h3>
        </div>
    </div>
        <div class='row row-content'>
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <span>Medium <br/>Overdue<br/></span>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <h2>Prune trees in Plaza della Concordia</h2>
                <p>Factory is a function that creates values. When a service, controller etc. needs a value injected from a factory, the factory creates the value on demand. Once created, the value is reused for all services, controllers etc. which need it injected.</p>
                <p><a  href="#">More &raquo;</a></p>
            </div>
        </div>


        <div class='row row-content'>
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <span>Medium <br/>Overdue<br/></span>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h2>Task XYZ</h2>
                <p>FHere is an example that defines a factory on a module, and a controller which gets the factory created value injected: as you can see, it is very similar to defining and injecting a value object. Keep in mind that it is not</p>
                <p><a href="#">More &raquo;</a></p>
            </div>
        </div>

        <div class='row row-content'>
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <span>High <br/>On Time<br/></span>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <h2>Test AB of the marketing initiative</h2>
                <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences. </p>
                <p><a href="#">More &raquo;</a></p>
            </div>
        </div>
    </div>